/* global Styles */

.nav-link {
  color: black;
  text-decoration: none;
}

/* hero box */
.hero-box {
}

/* VCP About Section */

.vcp-section {
  background-color: rgb(223, 223, 223);
}

.vcp-section-photo {
  width: auto;
  height: 20rem;
}

.jason-kander-img {
  width: auto;
  height: 15rem;
}

/* resturant section */

.res-photo {
  height: 4rem;
  width: auto;
}

/* footer section */

.footer-section {
  background-color: rgb(223, 223, 223);
}
